### üì£ Adjunta en cada bloque correspondiente el c√≥digo de cada una de las pr√°cticas evaluables, **de modo que pueda ser f√°cilmente ejecutado** para as√≠ poder comprobar su correcto funcionamiento.

In [ ]:
import numpy   as np
import scipy   as sc
import pandas  as pd
import sklearn as sk
import matplotlib.pyplot as plt

# Pr√°ctica Evaluable Bloque 1

In [ ]:
# COMIENZA AQU√ç TU C√ìDIGO #
def crea_matriz(fil,col):
  f=-1;c=-1
  e_fil=[]
  for f in range(fil):
    e_col=[]
    f+=1
    for c in range(col):
      c+=1
      valor=input('introduzca el valor (%d,%d):'%(f,c))
      e_col.append(valor)
    e_fil.append(e_col)
    matri= np.array(e_fil,int)
  return matri
A= crea_matriz(2,2)
B= crea_matriz(2,2)

def multiplicacion_matriz(A, B):
    if A.shape == ((2,2)) and B.shape == ((2,2)):
      res = True
    else:
      res = False
    if A.shape == B.shape: 
        res1 = True
    else: 
        res1 = False 
    if res is True and res1 is True:  
        print("las matrices son iguales y cuadradas")
        return (A*B)
    elif res is False and res1 is True:
        print("las matrices no son cuadradas pero son iguales")
    elif res is True and res1 is False:
      print("Las matrices son cuadradas pero no son iguales")
    else:
      print("las matrices no son iguales ni son cuadradas") 
multiplicacion_matriz(A,B)

introduzca el valor (1,1):1
introduzca el valor (1,2):1
introduzca el valor (2,1):1
introduzca el valor (2,2):1
introduzca el valor (1,1):1
introduzca el valor (1,2):1
introduzca el valor (2,1):1
introduzca el valor (2,2):1
las matrices son iguales y cuadradas

array([[1, 1],
       [1, 1]])

# Pr√°ctica Evaluable Bloque 2

In [ ]:
# COMIENZA AQU√ç TU C√ìDIGO #
import random

class puerta:
  def __init__(self, premio):
        self.premio = premio

  def abrir(self):
    return self.premio

puertas = [puerta("coche"), puerta("cabra"), puerta("cabra")]

puerta_seleccionada = random.randint(0,2)

puertas.pop(puerta_seleccionada)

for n, puerta in enumerate(puertas):
  if puerta.abrir() == "cabra":
    puertas.pop(n)

print(puertas[0].abrir() == "coche")

False

# Pr√°ctica Evaluable Bloque 3

In [ ]:
# COMIENZA AQU√ç TU C√ìDIGO #

iris = np.loadtxt('./iris.csv', skiprows=1, delimiter=',')

NameError: ignored

# Pr√°ctica Evaluable Bloque 4

In [31]:
# COMIENZA AQU√ç TU C√ìDIGO #

import pandas  as pd
import sklearn as sk
from sklearn.neural_network import MLPClassifier

#  üí° --- Carga el archivo easy_telco.csv con Pandas. 

easy_telco = pd.read_csv('easy_telco.csv')

#  üí° --- Visualiza el contenido de la tabla.

display(easy_telco.head(5))

#  üí° --- Mapea las variables binarias.
#  Hay unas cu√°ntas columnas con variables binarias (Female/Male y Yes/No), utiliza la
#  funci√≥n map() de Pandas para sustituir sus valores por 0 y 1.

gender_to_num = {'Female' : 0, 'Male' : 1}
Partner_to_num = {'Yes' : 0, 'No' : 1}
Dependents_to_num = {'Yes' : 0, 'No' : 1}
PhoneService_to_num = {'Yes' : 0, 'No' : 1}
MultipleLines_to_num =  {'Yes' : 0, 'No' : 1}
OnlineSecurity_to_num =  {'Yes' : 0, 'No' : 1}
OnlineBackup_to_num =  {'Yes' : 0, 'No' : 1}
DeviceProtection_to_num = {'Yes' : 0, 'No' : 1}
TechSupport_to_num = {'Yes' : 0, 'No' : 1}
StreamingTV_to_num = {'Yes' : 0, 'No' : 1}
StreamingMovies_to_num = {'Yes' : 0, 'No' : 1}
PaperlessBilling_to_num = {'Yes' : 0, 'No' : 1}
Churn_to_num = {'Yes' : 0, 'No' : 1}

easy_telco['gender'] = easy_telco['gender'].map(gender_to_num)
easy_telco['Partner'] = easy_telco['Partner'].map(Partner_to_num)
easy_telco['Dependents'] = easy_telco['Dependents'].map(Dependents_to_num)
easy_telco['PhoneService'] = easy_telco['PhoneService'].map(PhoneService_to_num)
easy_telco['MultipleLines'] = easy_telco['MultipleLines'].map(MultipleLines_to_num)
easy_telco['OnlineSecurity'] = easy_telco['OnlineSecurity'].map(OnlineSecurity_to_num)
easy_telco['OnlineBackup'] = easy_telco['OnlineBackup'].map(OnlineBackup_to_num)
easy_telco['DeviceProtection'] = easy_telco['DeviceProtection'].map(DeviceProtection_to_num)
easy_telco['TechSupport'] = easy_telco['TechSupport'].map(TechSupport_to_num)
easy_telco['StreamingTV'] = easy_telco['StreamingTV'].map(StreamingTV_to_num)
easy_telco['StreamingMovies'] = easy_telco['StreamingMovies'].map(StreamingMovies_to_num)
easy_telco['PaperlessBilling'] = easy_telco['PaperlessBilling'].map(PaperlessBilling_to_num)
easy_telco['Churn'] = easy_telco['Churn'].map(Churn_to_num)


#  üí° --- Visualiza el contenido de la tabla.

display(easy_telco.head(5))

#  üí° --- Convierte las variables no binarias a binarias.
#  Las columnas InternetService, Contract y PaymentMethod contienen m√°s
#  de una categor√≠a distinta y por tanto no podemos mapearlas directamente a 0 y 1.
#  La estrategia a seguir ser√° usar el m√©todo pd.get_dummies(...) que nos convertir√°
#  cada valor de dicha columna en columnas binarias. Aqu√≠ tienes el ejemplo de c√≥mo
#  transformar una de estas columnas, comprende el c√≥digo y realiza lo mismo con las 
#  restantes.

dumm  = pd.get_dummies(easy_telco['InternetService'], prefix='internet_')
easy_telco = pd.concat([easy_telco, dumm], axis=1)
easy_telco = easy_telco.drop('InternetService', axis=1)

dumm  = pd.get_dummies(easy_telco['Contract'], prefix='Contract_')
easy_telco = pd.concat([easy_telco, dumm], axis=1)
easy_telco = easy_telco.drop('Contract', axis=1)

dumm  = pd.get_dummies(easy_telco['PaymentMethod'], prefix='PaymentMethod_')
easy_telco = pd.concat([easy_telco, dumm], axis=1)
easy_telco = easy_telco.drop('PaymentMethod', axis=1)

# ...

#  üí° --- Visualiza el contenido de la tabla.

display(easy_telco.head(5))
#  üí° --- Elimina la columna customerID pues no aporta informaci√≥n relevante.

neweasy_telco = easy_telco.drop(columns="customerID")

#  üí° --- Convierte tu tabla de datos a matrices Numpy.

numpyeasy_telco = neweasy_telco.values

print(numpyeasy_telco)

#  Create una matriz de datos de entrada, que contenga todas las columnas menos 'Churn'

neweasy_telco_All = neweasy_telco.drop(columns = 'Churn')


#  y una matriz de salida que s√≥lo contenga a 'Churn'.

neweasy_telco_Churn = neweasy_telco.drop(columns = ['gender',
                                                    'SeniorCitizen','Partner','Dependents','tenure',
                                                    'PhoneService','MultipleLines','OnlineSecurity','OnlineBackup',
                                                    'DeviceProtection','TechSupport','StreamingTV','StreamingMovies',
                                                    'PaperlessBilling','MonthlyCharges','TotalCharges','internet__DSL'
                                                    ,'internet__Fiber optic','internet__No','Contract__Month-to-month',
                                                    'Contract__One year','Contract__Two year',
                                                    'PaymentMethod__Bank transfer (automatic)',
                                                    'PaymentMethod__Credit card (automatic)',
                                                    'PaymentMethod__Electronic check',
                                                    'PaymentMethod__Mailed check'])


display(neweasy_telco_All)
display(neweasy_telco_Churn)
#  üí° --- Utiliza Sklearn para crear un modelo, entrenarlo y evaluarlo. 

import sklearn as sk
from sklearn.linear_model import LogisticRegression

easy_telco_test = neweasy_telco_All.values
easy_telco_test1 = neweasy_telco_Churn.values

X = easy_telco_test
Y = easy_telco_test1

print(X.shape, Y.shape)

clf = LogisticRegression()

clf.fit(X, Y)

# 3¬∫. Con el modelo ajustado, puedes hacer predicciones.

yp = clf.predict(X)
print(yp, '\n')

# 4¬∫ Con el modelo ajustado, puedes evaluar su rendimiento.

ev = clf.score(X, Y)
print(ev, '\n')

#  Deberemos de obtener una tasa de acierto superior al 70%.

from sklearn.neural_network import MLPClassifier

red_neuronal = MLPClassifier(hidden_layer_sizes=(50,), activation='relu', max_iter=2000)  # -- Red neuronal ya creada.

red_neuronal.fit(X, Y)

rnp = red_neuronal.predict(X)

rnev = red_neuronal.score(X,Y)

print (rnp,rnev)

#  (Opcional: Para considerar v√°lido la evaluaci√≥n del modelo, realmente tendr√≠amos
#  que valorar si nuestra modelo est√° generalizando lo aprendido. Para ello es una
#  buena pr√°ctica crearte una dataset de entrenamiento y otro de prueba. Si quieres
#  puedes probar a generarlos con la funci√≥n train_test_split y volver a entrenar
#  y a evaluar a tu modelo.)


from sklearn.model_selection import train_test_split

easy_telco_test = neweasy_telco_All.values
easy_telco_test1 = neweasy_telco_Churn.values

X = easy_telco_test
Y = easy_telco_test1

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33)

print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)
clf.fit(X_train, Y_train)
yp = clf.predict(X_test)
ev = clf.score(X_test, Y_test)

red_neuronal = MLPClassifier(hidden_layer_sizes=(50,), activation='relu', max_iter=2000)  # -- Red neuronal ya creada.

red_neuronal.fit(X_train, Y_train)

rnp = red_neuronal.predict(X_test)
rnev = red_neuronal.score(X_test,Y_test)

print (rnp,rnev)

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95      1889.50     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

   customerID  gender  SeniorCitizen  ...  MonthlyCharges  TotalCharges  Churn
0  7590-VHVEG       0              0  ...           29.85         29.85      1
1  5575-GNVDE       1              0  ...           56.95       1889.50      1
2  3668-QPYBK       1              0  ...           53.85        108.15      0
3  7795-CFOCW       1              0  ...           42.30       1840.75      1
4  9237-HQITU       0              0  ...           70.70        151.65      0

[5 rows x 21 columns]

   customerID  ...  PaymentMethod__Mailed check
0  7590-VHVEG  ...                            0
1  5575-GNVDE  ...                            1
2  3668-QPYBK  ...                            1
3  7795-CFOCW  ...                            0
4  9237-HQITU  ...                            0

[5 rows x 28 columns]

[[0. 0. 0. ... 0. 1. 0.]
 [1. 0. 1. ... 0. 0. 1.]
 [1. 0. 1. ... 0. 0. 1.]
 ...
 [0. 0. 0. ... 0. 1. 0.]
 [1. 1. 0. ... 0. 0. 1.]
 [1. 0. 1. ... 0. 0. 0.]]

      gender  ...  PaymentMethod__Mailed check
0          0  ...                            0
1          1  ...                            1
2          1  ...                            1
3          1  ...                            0
4          0  ...                            0
...      ...  ...                          ...
7027       1  ...                            1
7028       0  ...                            0
7029       0  ...                            0
7030       1  ...                            1
7031       1  ...                            0

[7032 rows x 26 columns]

      Churn
0         1
1         1
2         0
3         1
4         0
...     ...
7027      1
7028      1
7029      1
7030      0
7031      1

[7032 rows x 1 columns]

(7032, 26) (7032, 1)
[0 1 1 ... 1 0 1]

0.8050341296928327

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[0 1 1 ... 1 0 1] 0.7919510807736063
(4711, 26) (2321, 26) (4711, 1) (2321, 1)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[1 0 1 ... 0 1 1] 0.7927617406290393